

label {
	display: block;
	margin-top: 10px;
}

img {
	max-width: 100%;
}

input {
	border-radius: 0 !important;
}

.login-form,
.signup-form {
	max-width: 350px;
	margin: auto;
}

.card {
	background-color: #f7f7f7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 0px !important;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.navbar {
	background: #2d2e43 !important;
}

.navbar-brand {
	color: #DE4ECD !important;
	font-weight: bold;
}

.nav-link {
	color: #fff !important;
}

.card {
	background: #27293D !important;
}

.notice-description {
	font-weight: 100;
	font-size: 14px;
}

.notice-footer {
	font-weight: 100;
	font-size: 12px;
}

.notice-link {
	color: #DE4ECD !important;
}

.custom-card {
	background: #2d2e43;
	padding: 1rem 0;
}

.container-card {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
	grid-gap:1rem;
}

.custom-card img {
	-webkit-box-shadow: -4px 1px 62px -32px rgba(222,78,205,0.65);
	-moz-box-shadow: -4px 1px 62px -32px rgba(222,78,205,0.65);
	box-shadow: -4px 1px 62px -32px rgba(222,78,205,0.65);
}

.btn {
	border-radius: 0 !important;
}

.btn.btn-primary {
	background: #DE4ECD !important;
	border-radius: 0;
	border:0 !important;
	outline: 0 !important;;
}

.btn.btn-primary:hover {
	background: #b940ab !important;
	border:0 !important;
	outline: 0 !important;;
}

.form-group label {
	font-size: 12px;
	font-weight: 100;
}

.invalid-feedback {
	color:#c23ae0 !important;
	border-color: transparent !important;
	font-size: 12px !important;
	background-image: none !important;
}

.form-control.is-invalid {
	border-color: transparent !important;
	font-size: 12px !important;
	background-image: none !important;
}

.form-control.is-invalid:focus {
	box-shadow: none;
}

.signup-form,
.login-form {
	box-shadow: -4px 1px 62px -32px rgb(222 78 205 / 65%);
}

.table > :not(caption) > * > * {
	background-color: #2d2e43 !important;
	border-bottom-width:0 !important;
	font-size: 14px !important;
	color: #fff;
	
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	--bs-table-accent-bg: #272a3d !important;
	background-color: #272a3d !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #fff !important;
}

th {
	font-weight: bold !important;
	color: #DE4ECD !important;
}

.nav-link:hover {
	color: #DE4ECD !important;
	text-decoration: underline;
}

.avatar-img {
	box-shadow: none !important;
	max-width: 200px;
	margin-right: 2rem;
}

.avatar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.pink {
	color: #DE4ECD !important;
}

li {
	list-style: none;
}

.cryptos-title {
	font-size: 1.25rem !important;
}

.crypto-divider {
	border-bottom: 1px solid #DE4ECD;
}