body, head {
  background-image: url("./assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
  padding-bottom: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

